<link href="../../../Assets/admin/css/signin.css" rel="stylesheet" />
<div class="login-wrapper">
    <a href="/">
        <img class="logo" src="/Assets/admin/img/bittrex-logo-white-no-tagline.png" />
    </a>
    <div class="box">
        <div class="content-wrap">
            <form action="/Account/PasswordReset" class="form-horizontal" id="resetForm" method="post" role="form">
                <input name="__RequestVerificationToken" type="hidden" value="Eg290sE4DbOcTqgQpZJk6sqnkowMcq91MDp6JGx65dwPeOA6yLyq3DAOKaq3peEuYu4rGQh9LkW9FH3ek20Pzt4igJo1" />                <h6>Reset Password </h6>
                <input data-val="true" data-val-required="The RecaptchaPublicKey field is required." id="RecaptchaPublicKey" name="RecaptchaPublicKey" type="hidden" value="6Lf3WSAUAAAAAOLCgtYTXztdPHtTuZxq9k5DHthK" /><input class="form-control" data-val="true" data-val-email="Invalid Email Address" data-val-required="The email address is required" id="EmailAddress" name="EmailAddress" placeholder="Email Address" type="text" value="" /><span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>                <div class="checkbox">
                    <label>
                        <input data-val="true" data-val-required="The Do you understand? field is required." id="Agree" name="Agree" type="checkbox" value="true" /><input name="Agree" type="hidden" value="false" />
                        I acknowledge that my account will be locked for a minimum of 24 hours.
                    </label>
                </div>
                <button class="g-recaptcha btn btn-primary login"
                        data-sitekey="6Lf3WSAUAAAAAOLCgtYTXztdPHtTuZxq9k5DHthK"
                        data-callback="OnSubmit">
                    <i class="fa fa-unlock"></i>&nbsp;Reset Password
                </button>
            </form>
        </div>
    </div>
</div>

