<connectionStrings>
  <clear />
  <!--<add name="CoinConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\;Initial Catalog=Coin;Integrated Security=False;User Id=sa;Password=123456Sql;MultipleActiveResultSets=True" />-->
  <add name="CoinConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:thuongthanhto.database.windows.net,1433;Initial Catalog=Coin;Persist Security Info=False;User ID=thuongthanhto;Password=Admin@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
</connectionStrings>
